In [4]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [5]:
# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

In [6]:
# File to Load (Remember to Change These)
mouse_drug_data_to_load = "data/mouse_drug_data.csv"
clinicaltrial_data_to_load = "data/clinicaltrial_data.csv"

In [7]:
# Read the Mouse and Drug Data and the Clinical Trial Data
mouse_drug_data = pd.read_csv(mouse_drug_data_to_load)
clinicaltrial_data = pd.read_csv(clinicaltrial_data_to_load)

In [8]:
mouse_drug_data.head()

  Mouse ID      Drug
0     f234  Stelasyn
1     x402  Stelasyn
2     a492  Stelasyn
3     w540  Stelasyn
4     v764  Stelasyn

In [9]:
clinicaltrial_data.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [24]:
# Combine the data into a single dataset
merged_file = pd.merge(clinicaltrial_data, mouse_drug_data, how="left", on=["Mouse ID"])

In [25]:
# Display the data table for preview
merged_file.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0                45.0                 0  Capomulin
1     f932          0                45.0                 0   Ketapril
2     g107          0                45.0                 0   Ketapril
3     a457          0                45.0                 0   Ketapril
4     c819          0                45.0                 0   Ketapril

In [26]:
# show shape of merged file
merged_file.shape

(1906, 5)

In [47]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
#tumor_by_drug_time = merged_file.loc[:, ["Drug", "Timepoint", "Total Volume(mm3)"]]
volume_drug = merged_file.groupby(['Drug'])['Tumor Volume (mm3)'].value_counts()

volume_drug.head(30)

Drug       Tumor Volume (mm3)
Capomulin  45.000000             25
           23.343598              1
           25.472143              1
           28.167397              1
           28.328531              1
           28.430964              1
           28.484033              1
           30.206825              1
           30.485985              1
           30.834357              1
           31.023923              1
           31.378045              1
           31.475411              1
           31.758275              1
           31.804841              1
           31.896238              1
           32.377357              1
           32.562839              1
           32.623003              1
           32.680655              1
           32.868916              1
           32.915292              1
           32.947615              1
           32.959671              1
           33.069337              1
           33.118756              1
           33.329098              1
           33.515671              1
           33.893345              1
           33.949341              1
Name: Tumor Volume (mm3), dtype: int64

In [48]:
time_drug = merged_file.groupby(['Timepoint'])['Tumor Volume (mm3)'].value_counts()
time_drug.head(30)

Timepoint  Tumor Volume (mm3)
0          45.000000             252
5          47.570392               2
           48.786801               2
           38.711872               1
           38.723707               1
           38.796474               1
           38.825898               1
           39.202129               1
           41.019913               1
           41.020518               1
           41.408591               1
           41.534097               1
           41.746355               1
           42.188787               1
           42.261665               1
           42.998876               1
           43.166373               1
           43.180977               1
           43.878496               1
           44.005975               1
           44.014900               1
           44.022752               1
           44.065398               1
           45.462243               1
           45.466677               1
           45.473753               1
           45.477544               1
           45.493858               1
           45.521875               1
           45.523014               1
Name: Tumor Volume (mm3), dtype: int64

In [31]:
# Convert to DataFrame

In [ ]:
# Preview DataFrame